@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New:wght500;700&display=swap");

.callout[data-callout="quran"] {
  --callout-color: var(--color-green-rgb, (40, 105, 131));
  --callout-icon: lucide-book-open-text;

  .callout-content {
    font-family: "Scheherazade New", var(--font-text);
    font-weight: 500;
    font-size: large;
  }
}
