@font-face {
  font-family: "qpc-hafs";
  src: url("https://static-cdn.tarteel.ai/qul/fonts/UthmanicHafs_V22.ttf")
    format("truetype");
  font-display: swap;
  size-adjust: 120%;
}

.callout[data-callout="quran"] {
  --callout-color: var(--color-green-rgb, (40, 105, 131));
  --callout-icon: lucide-book-open-text;

  .callout-content {
    font-family: qpc-hafs;
    font-weight: normal;
    line-height: 2rem;
  }
}

/* Ayah (verse) callout */
.callout[data-callout='quran-ayah'] {
  --callout-color: var(--color-green-rgb, (40, 105, 131));
  --callout-icon: quran-ayah;
  
  .callout-content {
    font-family: qpc-hafs;
    font-weight: normal;
    line-height: 2rem;
  }
}

/* Surah (chapter) callout */
.callout[data-callout='quran-surah'] {
  --callout-color: var(--color-green-rgb, (40, 105, 131));
  --callout-icon: quran-surah;

  .callout-content {
    font-family: qpc-hafs;
    font-weight: normal;
    line-height: 2rem;
  }
.callout[data-callout*="quran"] {
  --callout-color: var(--color-green-rgb, (40, 105, 131));
  .callout-content {
    font-family: qpc-hafs;
    font-weight: normal;
    line-height: 2rem;
  }
}

.callout[data-callout="quran"] {
  --callout-icon: lucide-book-open-text;
}

.callout[data-callout="quran-ayah"] {
  --callout-icon: quran-ayah;
}

.callout[data-callout="quran-surah"] {
  --callout-icon: quran-surah;
}
.quran-folder-setting .setting-item-control {
  position: relative;
  display: flex;
  align-items: center;
}

.quran-folder-setting input[type="text"] {
  padding-right: 35px;
}

.quran-folder-setting .extra-setting-button {
  position: absolute;
  right: 5px;
  background: transparent;
  pointer-events: none;
  border: none;
  box-shadow: none;
  opacity: 0.6;
}
